body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative; /* Ensure body is positioned relative for absolute positioning of button */
}

.back-button {
    position: relative;
    width: 10%;
    top: 20px; /* Adjust this value to position the button vertically */
    left: 20px; /* Adjust this value to position the button horizontally */
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #5936c1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    z-index: 1; /* Ensure button is above other content */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.account-info {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f5f5f5;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 8px;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #5936c1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3c2091;
}
